<div class="container">
  <div id="dataToPdf">
  <p class="display-4">HTML to PDF</p>
  <table id="table" class="table table-striped">
    <thead>
      <th>First Name</th> <th>Last Name</th> <th>Email</th>
    </thead>
    <tbody>
      <tr>
        <td>John</td> <td>Doe</td> <td>johnd@example.com</td>
      </tr>
      <tr>
        <td>Ram</td> <td>Doe</td> <td>ramnd@example.com</td>
      </tr>
      <tr>
        <td>Shyam</td> <td>Doe</td> <td>shyamd@example.com</td>
      </tr>
      <tr>
        <td>Seeta</td> <td>Doe</td> <td>sitad@example.com</td>
      </tr>
      <tr>
        <td>Gita</td> <td>Doe</td> <td>gitad@example.com</td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-success" (click)="downloadPdf()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</button>
</div>
</div>